@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: #f3e1e3
}
.box{
    width: 380px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 24px -3px ragba(0,0,0,0.5);
    h1{
        color: #000000;
        font-weight: 700;
        padding-bottom: 30px;
    }
    input[type = 'text']{
        border: none;
        background: #efefef;
        display: block;
        margin: 20px auto;
        text-align: center;
        padding: 14px 10px;
        width: 100%;
        outline: none;
        color: #ff3c29;
        font-weight: 500;
    }

    input[type = "submit"]{
        border: none;
        background: #ff3c29;
        margin: 20px auto;
        text-align: center;
        padding: 14px 10px;
        width: 150px;
        outline: none;
        color: #ffffff;
        font-weight: 600;
        border-radius: 24px;
        cursor: pointer;
        &:hover {
            background: #d44022;
        }

    }
}